extends ../layout-admin

block content-head
  .span12
    p.article-title.pull-left まとめ作成
    .btn-group.pull-right
      button._saveArticle.btn.btn-success 保存
      if article.id
        if article.isPublished
          button._unpublishArticle.btn.btn-danger(data-id=article.id, data-title=article.title) 公開取消
        else
          button._publishArticle.btn.btn-success(data-id=article.id, data-title=article.title) 公開
        button._deleteArticle.btn.btn-inverse(data-id=article.id, data-title=article.title) 削除

block content
  .article-editor.span12
    .title
      .field
        input#title(name="title", value=article.title, placeholder="まとめタイトルを入力（50文字以内）")
    .meta
      if article.id
        input#articleId(type="hidden", value=article.id)
      #articleThumbnail.thumb
        if article.thumbnail
          img(src=article.thumbnail)
      .description
        textarea#description(name="description", placeholder="まとめの説明を入力（150文字以内。改行は反映されません）")= article.description
    #items.accordion
      if article.id
        each item in article.items
          .item.accordion-group(id="item_#{item.id}")
            .item-heading.accordion-heading
              .item-thumbnail
                a.thumbnail
                  img(src=item.thumbnail)
              .item-meta
                .item-heading-buttons.btn-group
                  a.btn._collapse(id="collapse_#{item.id}", data-target=item.id) <i class="icon-chevron-up"></i>
                  a.btn._up(data-loading-text="送信中...") <i class="icon-arrow-up"></i>
                  a.btn._down(data-loading-text="送信中...") <i class="icon-arrow-down"></i>
                  a.btn._remove(data-loading-text="送信中...") <i class="icon-trash"></i>
                h3= item.title
                input._videoId(type="hidden", value=item.videoId)
                input._title(type="hidden", value=item.title)
                input._url(type="hidden", value=item.url)
                input._thumbnail(type="hidden", value=item.thumbnail)
                input._selected(type="hidden", value=item.selected)
                input._embed(type="hidden", value=item.embed)
            .accordion-body.collapse(id="body_#{item.id}")
              .item-body.accordion-inner
                ul.item-thumbnails.row-fluid
                .item-embed
      a._addItemToArticle.btn 追加

  include ../../common/modal.jade
  .modal.hide#_videoAddModal(tabindex="-1", role="dialog", aria-labelledby="modal dialog", aria-hidden="true")
    .modal-header
      button.close(data-dismiss="modal") &times;
      h3 動画追加
    .modal-body
      p 動画タグを入力してください
      input#_videoURL
      p.notice ※xvideos.comのタグのみ使用可能
    .modal-meta
      input._videoId(type="hidden")
      input._title(type="hidden")
      input._url(type="hidden")
      input._thumbnail(type="hidden")
      input._selected(type="hidden")
      input._embed(type="hidden")
    .modal-footer
      button.btn(data-dismiss="modal", aria-hidden="true") Close
      button.btn.btn-primary.disabled#_VideoAddModalPrimaryButton Add

  ul.dropdown-menu(role="menu", aria-labelledby="dropdownMenu")
      li
        a(href="javascript: changeSelection();", tabindex="-1") 動画サムネイルにする
      li
        a(href="javascript: changeSelection();", tabindex="-1") 記事の表紙画像にする
