extends ../layout-admin

block content-head
  .span12
    p.article-title.pull-left まとめ記事一覧

block content
  .article-list.span12
    table.table.table-striped.table-hover.table-bordered
      thead
        tr
          th タイトル
          th 作成日時
          th 変更日時
          th 削除日時
          th #action
      for article in articles
        tr
          td
            a(href="/admin/article/#{article.id}/edit")= article.title
          td= article.getCreateAt()
          td= article.getUpdateAt()
          td= article.getDeleteAt()
          td
            .btn-group
              if article.isForceRemoved
                button._unforceRemoveArticle.btn.btn-success(data-id=article.id, data-title=article.title) 発禁取消
              else
                button._forceRemoveArticle.btn.btn-danger(data-id=article.id, data-title=article.title) 発禁
              if article.isPublished
                button._unpublishArticle.btn.btn-danger(data-id=article.id, data-title=article.title) 公開取消
              else
                button._publishArticle.btn.btn-success(data-id=article.id, data-title=article.title) 公開
              if article.isDeleted
                button._undeleteArticle.btn.btn-success(data-id=article.id, data-title=article.title) 削除取消
              else
                button._deleteArticle.btn.btn-danger(data-id=article.id, data-title=article.title) 削除

  include ../../common/modal.jade
